{{#if platform.browser}}
  <div class="header-bar__logo">
      Heihei
  </div>
{{/if}}
{{#if platform.electron}}
  {{window-buttons}}
{{/if}}
{{#liquid-bind routeName as |routeName|}}

{{/liquid-bind}}