<div class="window-buttons__button window-buttons__button--minimize" {{action 'minimize'}}></div>
<div class="window-buttons__button window-buttons__button--maximize" {{action 'maximize'}}></div>
<div class="window-buttons__button window-buttons__button--close" {{action 'close'}}></div>

