body.platform-cordova {
  *:not(input):not(textarea) {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  @import "common.scss";
}

body.platform-ios {
  @import "ios/index";
}

