@import "../constants";

.tabs {
  position: fixed;
  top: 0;
  left: 100px;
  height: $tab-bar-height;
  display: flex;
  align-items: center;
  z-index: 9999999;
  &__icon {
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 11px;
    color: #000;
    padding: 0 10px;
    margin: 0 10px;
    height: 100%;
    transition: background 0.3s ease, color 0.3s ease;
    &.active {
      color: #fff;
      background: $theme-color;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    & {
      border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    }
  }
}
