@import "../constants";

.header-bar {
  height: $header-bar-height;
  background: fade-out(#f9f9f9, 0.15);
  backdrop-filter: blur(20px) saturate(2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
  html.route-detail & {
    background: fade-out(#000, 0.4);
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    & {
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    }
  }
}
