body.platform-browser {
  & {
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
  }
  @import "common";
  @import "components/header-bar";
  @import "components/picture-grid";
}
