@import "../constants";
.header-bar {
  height: 100%;
  width: $header-bar-width;
  align-items: flex-start;
  -webkit-app-region: drag;
  color: #434648;
  html.route-detail & {
    background: rgba(0,0,0,0.7);
    border-bottom-color: rgba(0,0,0,0.7);
  }
  &__action-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 22px;
    padding: 0 10px;
    background: #454545;
    color: #c4c4c4;
    border-radius: 4px;
    html.is-blurred & {
      color: #aaa;
      svg {
        fill: #aaa;
      }
    }
    svg {
      width: 8px;
      margin-right: 6px;
      fill: #c4c4c4;
    }
  }
}
