@import "../constants";
.header-bar {
  height: $header-bar-height;
  align-items: center;
  background: linear-gradient(
      fade-out(#ececec, 0.05) 0%,
      fade-out(#ececec, 0.05) 1.9%,
      fade-out(#e9e9e9, 0.05) 2%,
      fade-out(#d2d2d2, 0.05) 100%
  );
  -webkit-app-region: drag;
  color: #434648;
  html.is-blurred & {
    background: linear-gradient(
        fade-out(#f6f6f6, 0.05) 0%,
        fade-out(#f6f6f6, 0.05) 100%
    );
  }
  html.route-detail & {
    background: rgba(0,0,0,0.7);
    border-bottom-color: rgba(0,0,0,0.7);
  }
  &__action-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 22px;
    padding: 0 10px;
    background: #454545;
    color: #c4c4c4;
    border-radius: 4px;
    html.is-blurred & {
      color: #aaa;
      svg {
        fill: #aaa;
      }
    }
    svg {
      width: 8px;
      margin-right: 6px;
      fill: #c4c4c4;
    }
  }
}
